[bumpversion]
current_version = 0.2.4
commit = True
tag = True

[bumpversion:file:git_helper.yml]

[bumpversion:file:__pkginfo__.py]

[bumpversion:file:README.rst]

[bumpversion:file:dummy_wx/__init__.py]

